
// Reset or Normalize
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Global Variables

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;

body {
  font: 100% $font-primary;

}



