* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  background-color: white;
  width: 100%;
}

.input {
  background-color: white;
  color: #363636;
  border-color: #dbdbdb;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
