@use "variables";


.container {
  width: 100%;
}


body {
  font-family: variables.$font-secondary;
}

h1, h2, h3, h3 {
  font-family: variables.$font-primary;
}



@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@import "@/../node_modules/bulma/bulma.sass";
