@use "variables";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars on the body */
}

.container {
  background-color: white;
  width: 100%;
}


body {
  font-family: variables.$font-secondary;
}

h1, h2, h3, h3 {
  font-family: variables.$font-primary;
}

.input {
  background-color: white;
  color: #363636;
  border-color: #dbdbdb;
}


.button {
  &.is-success {
    background-color: #48c774;
    color: white;
  }
}



@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
