@use "variables";

@use "../../node_modules/bulma/bulma.scss";


:root {
  color-scheme: light;
}

html {
  background-color: white;
}



.container {
  background-color: white;
  width: 100%;
}


body {
  font-family: variables.$font-secondary;
  color: black;
}

h1, h2, h3, h3 {
  font-family: variables.$font-primary;
}

.input {
  background-color: white;
  color: #363636;
  border-color: #dbdbdb;
}


.button {
  &.is-success {
    background-color: #48c774;
    color: white;
  }
}



@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

